---
import { Image } from "astro:assets";
import aboutImg from "@/assets/pic.jpeg";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Teaching</h1>
		<p>
            Thing here about teaching
		</p>
	</div>
</PageLayout>
